@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'index';

/* 以下にスタイルを記述
************************* */

@font-face {
  font-family: 'Fette';
  src: url('../fonts/fette.ttf');
}

body {
  font-family: 'Fette';
  background: url('../images/common/bg.png') center bottom/cover;
}

a {
  text-decoration: none;
}

.gnav-toggle {
  position: relative;
  top: 0;
  z-index: 10;
  background-color: pink;
  padding-top: 15px;
  width: 150px;
  height: 75px;
  margin: 0 auto;
  text-align: center;
  span {
    transition: all 0.3s;
    display: block;
    width: 40px;
    height: 6px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    &.top {
      margin-bottom: 8px;
    }
    &.bottom {
      margin-top: 8px;
    }
  }
  &.is-open {
    span {
      &.top {
        transform: rotate(405deg) translateX(9px) translateY(16px);
      }
      &.bottom {
        transform: rotate(-405deg) translateX(5px) translateY(-10px);
      }
      &.middle {
        opacity: 0;
      }
    }
  }
}

.gnav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: $yellow;
  top: 0;
  font-size: 0;
  .gnav-inner {
    width: 400px;
    margin: 150px auto 0;
  }
  a {
    display: inline-block;
    width: 50%;
    height: 110px;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 10px #777;
    text-align: center;
  }
}

.main {
  max-width: 980px;
  margin: -120px auto 0;
  padding: 160px 100px 100px;
  box-sizing: border-box;
  background-color: rgba(226, 190, 167, .75);
  .h2 {
    text-align: center;
    margin: 20px 0 80px;
  }
}

.footer {
  width: 100%;
  height: 60px;
  background-color: gray;
  text-align: center;
  line-height: 60px;
}


#about {
  .about-date {
    margin-top: 40px;
  }
  .about-tolic {
    display: flex;
    h3 {
      margin: 20px 0;
    }
    .tolic-mv {
      flex: 2;
      height: auto;
      img {
        width: 80%;
      }
    }
    .tolic-text {
      margin-top: 30px;
      flex: 5;
      font-size: 18px;
      line-height: 1.8em;
      letter-spacing: .01em;
      p {
        margin-top: 50px;
      }
    }
  }
}

#recruit {
  .main {
    position: relative;
    h2,
    .recruit-about {
      text-align: center;
    }
    h3,p {
      margin: 20px 0;
    }
    h3 {
      padding: 10px 0;
      background: rgba(255,255,255,0.25);
    }
    .recruit-about {
      width: 60%;
      margin: 40px auto;
      line-height: 1.4em;
      .l-txt {
        padding: 20px 0 10px 0;
        font-size: 1.6em;
        font-weight: bold;
      }
    }
    .leftimg {
      position: absolute;
      top: 38vh;
      left: 10px;
    }
    .rightimg {
      position: absolute;
      top: 38vh;
      right: 10px;
    }
    .form {
      width: 60%;
      margin: 0 auto;
      label {
        display: block;
        text-align: center;
        margin: 16px 0 6px 0;
      }
      input, textarea {
        width: 100%;
        padding: 6px;
        font-size: 14px;
        box-sizing: border-box;
      }
      textarea {
        vertical-align: top;
        height: 160px;
      }
      .button {
        max-width: 327px;
        text-align: center;
        input {
          margin: 0 auto;
          padding: 0;
        }
      }
    }
  }
}

#menu {

}

#access {
  .booth-map {
    background-color: white;
    width: 100%;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
}
