@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'index';

/* 以下にスタイルを記述
************************* */

@font-face {
  font-family: 'Fette';
  src: url('../fonts/fette.ttf');
}

body {
  font-family: 'Fette';
  background: url('../images/common/bg.png') center bottom/cover;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.gnav-toggle {
  position: relative;
  top: 0;
  z-index: 10001;
  background: url('../images/common/nav.png') center top no-repeat;
  padding-top: 15px;
  width: 200px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  span {
    transition: all 0.3s;
    display: block;
    width: 40px;
    height: 6px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: white;
    &.top {
      margin-bottom: 8px;
    }
    &.bottom {
      margin-top: 8px;
    }
  }
  &.is-open {
    span {
      &.top {
        transform: rotate(405deg) translateX(10px) translateY(10px);
      }
      &.bottom {
        transform: rotate(-405deg) translateX(10px) translateY(-10px);
      }
      &.middle {
        opacity: 0;
      }
    }
  }
}

.gnav {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background: $yellow;
  top: 0;
  font-size: 0;
  .gnav-inner {
    width: 400px;
    margin: 150px auto 0;
    @include media(sp) {
      width: 100vw;
    }
  }
  a {
    display: inline-block;
    width: 50%;
    height: 110px;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 10px #777;
    text-align: center;
    @include media(sp) {
      font-size: 2.2rem;
    }
  }
}

.main {
  max-width: 980px;
  margin: -140px auto 0;
  padding: 160px 100px 100px;
  box-sizing: border-box;
  background-color: rgba(226, 190, 167, .75);
  .h2 {
    text-align: center;
    margin: 20px 0 80px;
    @include media(sp) {
      img {
        width: 88%;
      }
    }
  }
  @include media(sp) {
    box-sizing: content-box;
    padding: 0;
    padding-top: 160px;
  }
}

.footer {
  width: 100%;
  height: 100px;
  background-color: gray;
  text-align: center;
  background: url('../images/common/footer_pink.png') center bottom repeat-x;
  .copyright {
    z-index: 10;
    position: relative;
    top: 68px;
  }
}


#about {
  .about-date {
    margin-top: 40px;
  }
  .about-tolic {
    display: flex;
    @include media(sp) {
      display: block;
      padding: 0 20px;
    }
    h3 {
      margin: 20px 0;
    }
    .tolic-mv {
      flex: 2;
      height: auto;
      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
    .tolic-text {
      margin-top: 30px;
      flex: 5;
      font-size: 18px;
      line-height: 1.8em;
      letter-spacing: .01em;
      img {
        @include media(sp) {
          width: 50%;
          margin: 0 auto;
        }
      }
      p {
        margin-top: 50px;
        @include media(sp) {
          font-size: 15px;
          margin: 0;
        }
      }
    }
  }
}

#recruit {
  .main {
    position: relative;
    h2,
    .recruit-about {
      text-align: center;
    }
    h3,p {
      margin: 20px 0;
    }
    h3 {
      padding: 10px 0;
      background: rgba(255,255,255,0.25);
    }
    .recruit-about {
      position: relative;
      width: 90%;
      max-width: 500px;
      margin: 40px auto 60px auto;
      @include media(sp) {
        margin: 30vw auto 60px auto;
      }
      line-height: 1.4em;
      z-index: 1;
      .l-txt {
        padding: 20px 0 10px 0;
        font-size: 1.6em;
        font-weight: bold;
      }
    }
    .leftimg {
      position: absolute;
      left: 10px;
      width: 40vw;
      max-width: 233px;
    }
    .rightimg {
      position: absolute;
      right: 10px;
      width: 40vw;
      max-width: 230px;
    }
    .form {
      @include media(sp) {
        padding: 0 0 30px 0;
      }
      form {
        width: 90%;
        max-width: 500px;
        margin: 16px auto 0 auto;
        label {
          display: block;
          text-align: center;
          margin: 16px 0 6px 0;
        }
        input, textarea {
          width: 100%;
          padding: 10px 8px;
          font-size: 14px;
          box-sizing: border-box;
          border: none;
          &:focus {
            outline: 2px solid $blue;
          }
        }
        textarea {
          vertical-align: top;
          height: 160px;
        }
        .button {
          margin: 20px auto 0 auto;
          text-align: center;
          input {
            cursor: pointer;
            width: 327px;
            @include media(sp) {
              max-width: 280px;
            }
            height: 68px;
            margin: 0 auto;
            padding: 0;
            font-size: 0;
            background: url('../images/recruit/entry_btn.png') no-repeat;
            background-size: contain;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

#finish {
  .main {
    height: 100vh;
    p {
    text-align: center;
    line-height: 3em;
    }
  }
}

#menu {
  text-align: center;
  h3 {
    margin-top: 60px;
  }
  .mv {
    width: 100%;
    text-align: center;
    img {
      margin: 0 auto;
    }
  }
  .menu-tolic {
    width:100%;
    font-size: 18px;
    line-height: 1.8em;
    letter-spacing: .01em;
  }
  table {
    margin : 10px auto;
  }
  td {
    padding: 5px 20px;
    text-align: left;
  }
  .coupon {
    width:80%;
    margin: 0 auto;
    .share {
      img {
        cursor: pointer;
      }
    }
  }
  main p {
    margin : 20px auto;
    font-size: 18px;
    line-height: 1.8em;
    letter-spacing: .01em;
  }
}

#access {
  .booth-map {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: rgba(255,255,255,0.3);
    img {
      margin: 0 auto;
    }
  }
  .walk {
    text-align: center;
    h3 {
      font-size: 1.1em;
      font-weight: bold;
      margin: 60px 0 30px 0;
    }
  }
}
