<div class="gnav-toggle js-gnav-toggle">
  <div class="top"></div>
  <div class="middle"></div>
  <div class="bottom"></div>
</div>
<nav class="gnav">
  <a class="about" href="./about.html">ABOUT</a>
  <a class="menu" href="./menu.html">MENU</a>
  <a class="recruit" href="./recruit.html">RECRUIT</a>
  <a class="access" href="./access.html">ACCESS</a>
  <a class="holic" href="./holic.html">HOLIC</a>
</nav>
