<div class="gnav-toggle js-gnav-toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<nav class="gnav js-gnav">
  <div class="gnav-inner">
    <a class="top" href="./index.html">TOP</a>
    <a class="about" href="./about.html">ABOUT</a>
    <a class="menu" href="./menu.html">MENU</a>
    <a class="recruit" href="./recruit.html">RECRUIT</a>
    <a class="access" href="./access.html">ACCESS</a>
    <a class="holic" href="./holic.html">HOLIC</a>
  </div>
</nav>
