<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body id="about">
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
    <div class="h2">
      <h2><img src="./images/about/h2.png"></h2>
      <img class="about-date" src="./images/about/date.png">
    </div>
    <div class="about-tolic">
      <div class="tolic-mv"><img src="./images/about/mv.png"></div>
      <div class="tolic-text">
        <h3><img src="./images/about/about_tolic.png"></h3>
        <p>
          <h4>「すべては芸工生の笑顔のために」</h4>
          <br>
          たかが焼き鳥、されど焼き鳥。
          <br>
          1本の焼き鳥から芸工を楽しく、幸せに、笑顔にする。
          <br>
          それが私たちの永久の使命であり、挑戦であるのです。
          <br>
          私たちは、これからも芸工生が求める味とサービスの向上を図り、貢献してまいります。
        </p>
      </div>
    </div>
  </main>
  <% include _footer %>
  <% include _script %>
</body>
</html>
