<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body>
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
    <h1><img src="../common/img/03_h1_about.png" alt="about"></h1>
    <div class="date">
      <img src="../common/img/03_date.png">
    </div>
    <div class="mainvisual">
      <img src="./about/mv.png">
      <div>
        <h2><img src="./images/about/about_tolic.png"></h2>
        <p>
          接尾語で、意味は、〜中毒です。<br>
          alco-holic（アルコール中毒）のように単語の後につけることで意味をなします。<br>
          中毒とはつまり熱中できたり、夢中になれるということ。<br>
          この芸工祭に来ていただいた皆様に何かに熱狂的に楽しんでいただいたり、<br>
          夢中になれるような、そんな芸工祭にしたい！という思いからこのテーマに決めました。<br>
          この芸工祭自体が、皆様の接尾語になれたら幸いです！
        </p>
      </div>
    </div>
  </main>
  <% include _footer %>
  <% include _script %>
</body>

</html>
