<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body id="access">
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
  </main>
  <% include _footer %>
  <% include _script %>
</body>
</html>
