<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body id="access">
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
    <div class="h2">
      <h2><img src="./images/access/h2.png" alt=""></h2>
    </div>
    <div class="booth-map">
      <img src="./images/access/map.png" alt="">
    </div>
    <div class="walk">
      <h3>徒歩でお越しの場合</h3>
      <img src="./images/access/access.png" alt="">
    </div>
  </main>
  <% include _footer %>
  <% include _script %>
</body>
</html>
