<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body id="finish">
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
    <p>応募が完了しました！</p>
    <p>担当の者が返信いたしますので<br>しばらくお待ちください。</p>
    <p>※場合によっては店長面談有り</p>
  </main>
  <% include _footer %>
  <% include _script %>
</body>
</html>
