<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
  <header class="header">
    <h1 class="top-title">GEIKOSAI 2016 <span>TOLIC</span></h1>
  </header>
  <main class="main">
    <nav class="gnav">
      <a href="./recruit.html">RECRUIT</a>
      <a href="./menu.html">MENU</a>
      <a href="./about.html">ABOUT</a>
      <a href="./access.html">ACCESS</a>
      <a href="./sponsor.html">SPONSOR</a>
    </nav>
    <div class="tare js-tare"></div>
  </main>
  <footer class="footer index">
    <p class="copyright">&copy; 2016 GEIKOSAI</p>
  </footer>
	<% include _script %>
</body>
</html>
