<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
  <link rel="stylesheet" href="./css/index.css">
</head>
<body id="index">
  <header class="header">
    <h1 class="top-title">GEIKOSAI 2016 <span>TOLIC</span></h1>
  </header>
  <main class="main">
    <nav class="index-gnav">
      <a class="about" href="./about.html">ABOUT</a>
      <a class="menu" href="./menu.html">MENU</a>
      <a class="recruit" href="./recruit.html">RECRUIT</a>
      <a class="access" href="./access.html">ACCESS</a>
      <a class="holic" href="./holic.html">holic</a>
    </nav>
  </main>
  <footer class="index-footer">
    <p class="copyright">&copy; 2016 GEIKOSAI</p>
  </footer>
  <div class="tare js-tare"></div>
	<% include _script %>
</body>
</html>
