<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body id="menu">
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
	<div class="h2">
	  <h2><img src="./images/menu/h2.png"></h2>
	</div>
	<div class="menu-tolic">
		<div class="mv">
			<img src="./images/menu/mv.png">
		</div>
		<h3><img src="./images/menu/h3-type.png"></h3>
		<div class="type">
			<div class="type-box">もも</div>
			<div class="type-box">豚バラ</div>
			<div class="type-box">ぼんじり</div>
			<div class="type-box">砂肝</div>
		</div>
		<div class="type">
			<div class="type-box">かわ</div>
			<div class="type-box">ソーセージ</div>
			<div class="type-box">ししとう</div>
			<div class="type-box">アスパラ</div>
		</div>
		<h3><img src="./images/menu/h3-taste.png"></h3>
		<div class="taste">
			<div class="taste-box">タレ</div>
			<div class="taste-box">塩</div>
			<div class="taste-box">柚子胡椒</div>
			<div class="taste-box">チーズ</div>
			<div class="taste-box">わさび</div>
		</div>
		<div class="coupon">
			<h3><img src="./images/menu/h3-coupon.png"></h3>
			<p>このWEBサイトを twitterでシェアすると、<br>お得なクーポンがもらえるチャンス！</p>
			<p>クーポンは期間中何回でも利用可能なので<br>たくさんシェアしちゃおう！</p>
			<p>※シェアした画面を購入時に提示してね。</p>
			<div class="share" onclick="twitterPopup();">
				<img src="./images/menu/share.png" alt="シェアする">
			</div>
		</div>
	</div>
  </main>
  <% include _footer %>
  <% include _script %>
</body>
</html>
