<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body id="menu">
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
	<div class="h2">
	  <h2><img src="./images/menu/h2.png"></h2>
	</div>
	<div class="mv">
	  <img src="./images/menu/mv.png">
	</div>
	<div class="menu-tolic">
		<div class="type clearfix">
			<h3><img src="./images/menu/h3-type.png"></h3>
			<table class="type">
				<tr>
					<td>もも</td>
					<td>豚バラ</td>
					<td>砂肝</td>
					<td>ししとう</td>
				</tr>
				<tr>
					<td>かわ</td>
					<td>ぼんじり</td>
					<td>ソーセージ</td>
					<td>アスパラ</td>
				</tr>
			</table>
		</div>
		<div class="taste">
			<h3><img src="./images/menu/h3-taste.png"></h3>
			<table>
				<tr>
					<td>タレ</td>
					<td>塩</td>
					<td>柚子胡椒</td>
					<td>チーズ</td>
					<td>明太子</td>
				</tr>
			</table>
		</div>
	</div>
  </main>
  <% include _footer %>
  <% include _script %>
</body>
</html>
