<!DOCTYPE html>
<html lang="jp">

<head>
  <% include _head %>
</head>

<body id="recruit">
  <header class="header">
    <% include _nav %>
  </header>
  <main class="main">
    <h2><img src="./images/recruit/h2.png" alt="採用情報"></h2>
    <img class="leftimg" src="./images/recruit/left.png" alt="">
    <img class="rightimg" src="./images/recruit/right.png" alt="">
    <section class="recruit-about">
      <p class="l-txt">＼  アルバイト募集中!  ／</p>
      <p>バイトデビューの方も大歓迎！<br>
        気軽にご応募ください！</p>
      <h3>【お仕事内容】</h3>
      <p>■調理スタッフ</p>
      <p>
        焼き鳥を焼くお仕事です。<br>
        初心者にも丁寧にお教えします！
      </p>
      <p>■ホールスタッフ</p>
      <p>お客様に焼き鳥をお届けするお仕事です。</p>
      <h3>【勤務時間】</h3>
      <p>10:00-17:00の間でシフト制</p>
      <h3>【給与】</h3>
      <p>能力給</p>
    </section>
    <section class="form">
      <h2><img src="./images/recruit/h2_form.png" alt="応募フォーム"></h2>
      <form>
        <div>
          <label for="name">お名前</label>
          <input type="text" id="name" />
        </div>
        <div>
          <label for="mail">E-mail</label>
          <input type="email" id="mail" />
        </div>
        <div>
          <label for="msg">応募動機・意気込み</label>
          <textarea id="msg"></textarea>
        </div>
        <div class="button">
          <input type="image" src="./images/recruit/entry_btn.png" alt="応募する">
        </div>
      </form>
    </section>
  </main>
  <% include _footer %>
  <% include _script %>
</body>
</html>
